.sidebar {
  width: 240px;
  height: 100vh;
  background-color: #263060;
  padding: 20px;
  position: fixed;
  left: 0;
  top: 0;
  box-shadow: 2px 0 5px rgba(0,0,0,0.1);
}

.sidebar-logo {
  text-align: left;
  margin-bottom: 20px;
}

.logo-image {
  width: 200px; 
  height: auto;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin: 15px 0;
}

.sidebar ul li a,
.sidebar ul li button {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  padding: 10px;
  display: block;
  width: 100%;
  background: none;
  border: none;
  text-align: left;
  cursor: pointer;
  transition: background-color 0.3s, border-radius 0.3s; /* Animación para el hover */
}

.sidebar ul li button:hover,
.sidebar ul li a:hover {
  background-color: #f0af00;
  color: #000;
  border-radius: 15px; /* Ajusta el valor para más o menos redondez */
}

.logout-button {
  color: red;
}
