.app {
  display: flex;
}

.sidebar {
  width: 250px;
  background-color: #333;
  color: white;
  padding: 15px;
  height: 100vh; /* Hacer que la barra lateral ocupe toda la altura de la ventana */
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  padding: 10px 0;
}

.content {
  flex: 1;
  padding: 20px;
}
